.work-space {
  margin-top: 10px;
  position: relative;
  width: 85%;

  margin-left: auto;
  margin-right: auto;
}

.bjs-container {
  position: fixed !important;

  svg {
    position: fixed;
  }
}

.djs-palette {
  visibility: hidden;
}

